MONGODB_URI=
MONGODB_DB=cordova
AUTH_SECRET=
RESEND_API_KEY=
EMAIL_FROM="Cordova RP <loja@seudominio.com>"
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
MERCADOPAGO_ACCESS_TOKEN=
DISCORD_WEBHOOK_URL=
GAME_DELIVER_URL=http://45.146.81.194:30120/cordova_vipshop/site-delivery
GAME_DELIVER_SECRET=
NEXT_PUBLIC_SITE_URL=
